<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818017615522-dl52nmtp7cboraq4hh4qhbjpv2nbkqv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818017615522-dl52nmtp7cboraq4hh4qhbjpv2nbkqv3</string>
	<key>API_KEY</key>
	<string>AIzaSyA1eO37nYKzDn7jqAovlhovs-aO8JWEUxo</string>
	<key>GCM_SENDER_ID</key>
	<string>818017615522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seniorprojectdemo</string>
	<key>PROJECT_ID</key>
	<string>senior-project-d8035</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-project-d8035.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818017615522:ios:397f73db5900eb28bfa1fb</string>
</dict>
</plist>